{% include "header.html" %}

{% if 'admin' in usertype %}
<!-- Body -->
<body class = "body">
  <!-- Nav Bar -->
  {% with page_type="Bank", active_page="reconstruct" %}
    {% include "navbar.html" %}
  {% endwith %}
  
  <!-- Content -->
  <div class="jumbotron">
    <!-- Header -->
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="display-4">Admin Page (Share Reconstruction)</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Use this panel to verify the cheques using our vSignIt Reconstruction Algorithm!</p>
          <hr class="my-4">
        </div>
      </div>
    </div>

    <!-- Form -->
    <form id="reconstruct" method="post" enctype="multipart/form-data" onsubmit="return false;">
      <div class="container">

        <div class="row table-responsive">
          <table class="table table-hover table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Transaction No</th>
                <th scope="col">Client Username</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.getTranscationNo() }}</td>
                <td>{{ transaction.getClientUsername() }}</td>
                <td>{{ transaction.getTimestamp() }}</td>
                <td style="color:white">
                  <!-- <a class="btn btn-primary">Verify</a> -->
                  <input type="submit" class="btn btn-primary" value="Verify" name="Verify-{{ transaction.getTranscationNo() }}"/>
                  <input type="submit" class="btn btn-danger" value="Delete" name="Delete-{{ transaction.getTranscationNo() }}"/>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
              <div id="loader"></div>
            </div>
        </div>
      </div>
    </form>
  </div>
</body>

<script>
  $("form input[type=submit]").click(function() {
    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
    $(this).attr("clicked", "true");
});

  // execute this when the form is submitted
  $(reconstruct).submit(function(e) 
  {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var val = $("input[type=submit][clicked=true]").attr("name").split("-")
    var type = val[0];
    var transactionNo = val[1];

    if (type == "Delete")
    {
      var res = confirm("Are you sure that you want to delete transaction number \'" + transactionNo + "\'?\n\nCAUTION: This action cannot be undone!");

      if (res == false) {
        return;
      } 
    }

    document.getElementById("loader").style.display = "block";
    processTransaction(transactionNo, type);

  });

  function processTransaction (transactionNo, type)
  {
    var fd = new FormData();
    fd.append('type', type)
    fd.append('transactionNo', transactionNo)
    $.ajax({
      type: 'post',
      url: '/bank-reconstruct',
      data: fd,
      mimeType:"multipart/form-data",
      contentType: false,
      cache: false,
      processData: false,
      success: function(response){
        document.getElementById("loader").style.display = "none";
        if (response == "Delete")
          window.location.reload();
        else
          alert(response);
      },

      error: function(jqXHR, textStatus, errorThrown) 
      {
        alert("error!!!")
      }
    });
  }
</script>

{% else %}
  {% include "forbidden.html" %}
{% endif %}

</html>