{% include "header.html" %}

{% if result.isAdmin() %}
<!-- Body -->
<body class = "body">
  <!-- Nav Bar -->
  {% with page_type="Bank", active_page="generate" %}
    {% include "navbar.html" %}
  {% endwith %}

  <!-- Content -->
  <div class="jumbotron">
    <!-- Header -->  
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Admin Page (Share Generation)</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Use this panel to create 2 shares of a signature!</p>
          <hr class="my-4">
        </div>
      </div>
    </div>

    <!-- Form -->
    <form name="generation" method="post" enctype="multipart/form-data">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="signature-upload" required>
                  <label class="custom-file-label" for="signature-upload" aria-describedby="inputGroupFileAddon02">Choose Signature</label>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Client's Username</span>
            </div>
            <input type="text" id="client_username" class="form-control" placeholder="janedoe" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
              <a id="downloadLink" target="_blank" value="bank_share" download><div id="preview" style="margin-bottom: 10px; max-height: 200px; max-width: 200px"></div></a>
            </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="response-msg" class="alert alert-danger animate-bottom" role="alert" style="width:100%; text-align: center">
                Please ensure that you have entered a registered vSignIt user!
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <button class="btn btn-primary btn-lg active" type="submit" aria-pressed="true" style="width:100%">Generate Shares</button>
          </div>
        </div>

        <!-- Loader -->
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="loader"></div>
          </div>
      </div>
      </div>
    </form>
  </div>
</body>

<script>
  $('#response-msg').hide();
  $('#preview').hide();

  // change the name of the input file when a file is uploaded
  $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });

  // execute this when the form is submitted
  $(generation).submit(function(e) 
  {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    
    $('#preview').hide();
    $('#response-msg').hide();
    document.getElementById("loader").style.display = "block";

    encodeImageFileAsURL()
  });

  // function to get the image file
  function encodeImageFileAsURL()
  {
    var filesSelected = document.getElementById("signature-upload").files;

    // checks if the image and username are provided
    if (filesSelected.length > 0) 
    {
      var fileToLoad = filesSelected[0];
      var fileReader = new FileReader();

      // only runs when the image provided is fully loaded
      fileReader.onload = function(fileLoadedEvent) 
      {
        // base64 data of the original signature
        srcData = fileLoadedEvent.target.result; 
        
        // store client's username and image (base64)
        var fd = new FormData();
        var client_username = document.getElementById('client_username').value
        var imgsrc = document.getElementById("preview").src;

        // send to server via AJAX
        fd.append('clientUsername', client_username)
        fd.append('file',srcData)
        $.ajax({
          type: 'post',
          url: '/bank-generate',
          data: fd,
          mimeType:"multipart/form-data",
          contentType: false,
          cache: false,
          processData: false,
          success: function(response){
            // when the image provided has the correct dimension
            if(response != 0)
            {
              if (response == "No User")       
              {
                document.getElementById("loader").style.display = "none";
                $('#signature-upload').removeClass('is-invalid');
                $('#signature-upload').addClass('is-valid');
                $('#client_username').addClass('is-invalid');
                $('#response-msg').addClass('alert-danger');
                $("#response-msg").text("The client " + client_username + " doesn't exist!");
                $('#response-msg').toggle();
              }       
              
              else
              {
                // updates UI
                document.getElementById("loader").style.display = "none";
                $('#preview').show();
                $('#signature-upload').removeClass('is-invalid');
                $('#signature-upload').addClass('is-valid');
                $('#client_username').removeClass('is-invalid');
                $('#client_username').addClass('is-valid');
                $('#response-msg').removeClass('alert-danger');
                $('#response-msg').addClass('alert-success');
                $("#response-msg").text(response);
                $('#response-msg').toggle();
              }
            } 
            
            // when the image provided has incorrect dimension
            else
            {
              document.getElementById("loader").style.display = "none";
              $('#client_username').removeClass('is-invalid');
              $('#signature-upload').addClass('is-invalid');
              $('#response-msg').addClass('alert-danger');
              $("#response-msg").text("The image should have the correct dimension (i.e. same width and height)!");
              $('#response-msg').toggle();
            }
          },

          error: function(jqXHR, textStatus, errorThrown) 
          {}
        });
      }

      fileReader.readAsDataURL(fileToLoad);
    }
  }
</script>

{% else %}
  {% include "forbidden.html" %}
{% endif %}

</html>