{% include "header.html" %}

{% if result.isAdmin() %}

  <!-- Nav Bar -->
  {% with user_type="Bank", username=result.getUsername(), active_page="reconstruct" %}
    {% include "navbar.html" %}
  {% endwith %}
  
  <!-- Content -->
  <div class="jumbotron">
    <!-- Header -->
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="display-4">Admin Page (Share Reconstruction)</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Use this panel to verify the cheques using our vSignIt Reconstruction Algorithm!</p>
          <hr class="my-4">
        </div>
      </div>
    </div>

    <!-- Form -->
    <form id="reconstruct" method="post" enctype="multipart/form-data" onsubmit="return false;">
      <div class="container">

        {% if transactions == [] %}
          <p class="lead">Yey! There is currently no cheque to be processed!</p>

        {% else %}
        <div class="row table-responsive">
          <table class="table table-hover table-striped">

            <thead class="thead-dark" style="text-align:center">
              <tr>
                <th scope="col">Transaction No</th>
                <th scope="col">Client Username</th>
                <th scope="col">Timestamp</th>
                <th scope="col" style="width:23%">Action</th>
              </tr>
            </thead>

            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.getTranscationNo() }}</td>
                <td>{{ transaction.getClientUsername() }}</td>
                <td>{{ transaction.getTimestamp() }}</td>
                <td style="color:white; width:23%">
                  <button type="submit" class="btn btn-primary" name="Verify-{{ transaction.getTranscationNo() }}">
                    <span></span> Verify
                  </button>
                  <button type="submit" class="btn btn-danger" name="Delete-{{ transaction.getTranscationNo() }}">Delete</button>
                </td>
              </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>

  <script>
    // reads the transaction number from the hidden input value
    $("button").click(function() {
      var val = this.name.split("-")
      var type = val[0];
      var transactionNo = val[1];

      // only process it if it is of type "Delete" or "Verify"
      if (type == "Delete" || type == "Verify")
      {
        // if delete is clicked, give confirmation prompt
        if (type == "Delete")
        {
          var res = confirm("Are you sure that you want to delete transaction number \'" + transactionNo + "\'?\n\nCAUTION: This action cannot be undone!");

          // cancel if user changes his mind
          if (res == false) {
            return;
          } 
          else
          {
            // changes to loading button
            $(this)[0].innerHTML = "<span></span> Loading..."
            $(this)[0].id = "deleteLoadingBox"
            button = $(this).find("span")[0]; 
            button.role = "status";      
            button.className = "spinner-border spinner-border-sm LoadingText"
          }
        }

        // if user selects verify
        else
        {
          // changes to loading button
          $(this)[0].innerHTML = "<span></span> Loading..."
          $(this)[0].id = "verifyLoadingBox"
          button = $(this).find("span")[0]; 
          button.role = "status";      
          button.className = "spinner-border spinner-border-sm LoadingText"
        }

        // continues processing the transaction
        forwardTransaction(transactionNo, type);
      }
    });

    // loads this script when DOM is loaded
    $(document).ready(function(){
      // remove the 'Loading...' text when user goes back to the page
      setInterval(function(){
        if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
          document.getElementById('verifyLoadingBox').innerHTML = "Verify";
          document.getElementById('deleteLoadingBox').innerHTML = "Delete";
        }
      }, 3000);
          
      // avoid submission of form
      $(reconstruct).submit(function(e) 
      {
        e.preventDefault(); 
      });
    });

    // forwards the transaction to the verification page
    // if user choses to verify the transaction
    function forwardTransaction (transactionNo, type)
    {
      var fd = new FormData();
      fd.append('type', type)
      fd.append('transactionNo', transactionNo)
      $.ajax({
        type: 'post',
        url: '/bank-reconstruct',
        data: fd,
        mimeType:"multipart/form-data",
        contentType: false,
        cache: false,
        processData: false,
        success: function(response){
          // reloads the page after deletion
          if (response == "Delete")
            window.location.reload();

          // redirects users to the verification page
          else
            window.location.href = response
        },

        error: function(jqXHR, textStatus, errorThrown) 
        {
          alert(errorThrown)
        }
      });
    }
  </script>

{% else %}
  {% include "forbidden.html" %}
{% endif %}

{% include "footer.html" %}