{% include "header.html" %}

{% if 'user' in usertype %}
<!-- Body -->
<body class = "body">
  <!-- Nav Bar -->
  {% with page_type="Client" %}
    {% include "navbar.html" %}
  {% endwith %}

  <!-- Content -->
  <div class="jumbotron">
    <!-- Header -->
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Client Page</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Use this panel to upload the cheque you wanted to sign!</p>
          <hr class="my-4">
        </div>
      </div>
    </div>
    
    <!-- Form -->
    <form name="clientForm" method="post" enctype="multipart/form-data">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="cheque-upload" required>
                <label class="custom-file-label" for="cheque-upload" aria-describedby="inputGroupFileAddon02">Choose Cheque</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="share-upload" required>
                <label class="custom-file-label" for="share-upload" aria-describedby="inputGroupFileAddon02">Choose Client Share</label>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
              <div id="loader"></div>
            </div>
        </div> 

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
              <a id="downloadLink" target="_blank" value="client_share" download><div id="preview" style="margin-bottom: 10px; max-height: 250px; max-width: 250px"></div></a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="response-msg" class="alert alert-danger" role="alert" style="width:100%; text-align: center"></div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
                <button class="btn btn-primary btn-lg active" type="submit" aria-pressed="true" style="width:100%">Sign Cheque</button>
            </div>
          </div>
      </div>
    </form>
  </div>
</body>

<script>
  $("#response-msg").hide();
  $("#preview").hide();

  // change the name of the input file when a file is uploaded
  $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });

  // execute this when the form is submitted
  $(clientForm).submit(function(e) 
  {
      e.preventDefault(); // avoid to execute the actual submit of the form.

      $('#preview').hide();
      $('#response-msg').hide();
      document.getElementById("loader").style.display = "block";

      encodeImageFileAsURL()
  });

  // function to get the image file
  function encodeImageFileAsURL()
  {
    var cheque = document.getElementById("cheque-upload").files;
    var share = document.getElementById("share-upload").files;

    // checks if both of the fields are filled
    if (cheque.length > 0 && share.length > 0) 
    {
      var fileToLoad1 = cheque[0];
      var filereader1 = new FileReader();
      var fileToLoad2 = share[0];
      var filereader2 = new FileReader();

      // only runs when the empty cheque is fully loaded
      filereader1.onload = function(fileLoadedEvent) 
      {
        console.log("File 1 loaded")

        // get filename
        var fullPath = document.getElementById('share-upload').value;
        if (fullPath) 
        {
          var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
          var filename = fullPath.substring(startIndex);
          if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
              filename = filename.substring(1);
          }
        }
        else {
          filename="Unknown"
        }

        // base64 data of the cheque
        srcData1 = fileLoadedEvent.target.result; 

        console.log("Before the reading of file 2")

        // only runs when the client share is fully loaded
        filereader2.onload = function(fileLoadedEvent2) 
        {
          console.log("File 2 loaded")

          // bade64 data of the client's share
          //srcData2 = document.getElementById('fileToLoad2');
          srcData2 = fileLoadedEvent2.target.result; 
      
          // store image (base64)
          var fd = new FormData();

          // updates UI
          $('#cheque-upload').addClass('is-valid');
          $('#share-upload').addClass('is-valid');

          // send to server via AJAX
          fd.append('file1',srcData1)
          fd.append('file2',srcData2)
          fd.append('filename', filename)

          var formData = new FormData(document.getElementById("clientForm"));
          $.ajax({
            type: 'post',
            url: '/client',
            data: fd,
            mimeType:"multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function(response){
              if(response != 0)
              {         
                console.log(response)       
                var result = response.split(",");
                picture = result[0]
                filename = result[1]

                // allows client to download the overlayed image (empty cheque + client's share)
                var png_download = "data:image/png;base64,"
                png_download += picture

                var newImage = document.createElement('img');
                newImage.src = png_download;
                newImage.height = 150;
                newImage.width = 200;
                document.getElementById("preview").innerHTML = newImage.outerHTML;

                // creates a downloadable link
                var a = document.getElementById('downloadLink');
                a.href = png_download
                a.download = filename + "_client_cheque"

                // updates UI
                document.getElementById("loader").style.display = "none";
                $('#preview').show();
                $('#share-upload').removeClass('is-invalid');
                $('#response-msg').removeClass('alert-danger');
                $('#response-msg').addClass('alert-success');
                $('#share-upload').addClass('is-valid');
                $("#response-msg").text("Your share has been embeded to the cheque! Click on the image to download.");
                $('#response-msg').toggle();
              }

              else 
              { 
                document.getElementById("loader").style.display = "none";
                $('#share-upload').addClass('is-invalid');
                $('#response-msg').addClass('alert-danger');
                $("#response-msg").text("Please ensure that you have uploaded the correct client share!");
                $('#response-msg').toggle();
              }
            },
            error: function(jqXHR, textStatus, errorThrown) 
            {}
          });
        }
      }

      filereader1.readAsDataURL(fileToLoad1);   
      filereader2.readAsDataURL(fileToLoad2);          
    }
  }
</script>

{% else %}
  {% include "forbidden.html" %}
{% endif %}

</html>