{% include "header.html" %}

<style>
#loader {
  top: -100% !important;
  left: 100% !important;
  margin: -250px 0 0 -75px !important;
}
</style>

<!-- Nav Bar -->
{%  with username=username, user_type = user_type, active_page="learning"%}
  {% include "navbar.html" %}
{% endwith %}

<!-- Content -->
<div class="jumbotron">
  <!-- Header -->
  <div class="container">

    <div class="row">
      <div class="col">
        <h1 class="display-4">Learning Tool</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead">Use this panel to learn more about Visual Cryptography!</p>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <!-- Form -->
  <form id="verify" method="post" enctype="multipart/form-data" onsubmit="return false;">
    <div class="container">

      <h5>What is Visual Cryptography?</h5>
      <p class="lead">Visual Cryptography is a technique that allows information (images, text, diagrams..) to be encrypted using an encoding system that can be decrypted by the eyes. No computer is required to decode.</p>

      <h5>What is Visual Steganography?</h5>
      <p class="lead">Steganography is a technique to conceal text, images, videos in a seemingly innocuous file. It makes use of unused pixels in regular computer files in order to hide another hidden text or image.</p>

      <h5>Demonstration</h5>
      <p class="lead">Don't take our words at face value! Try it out yourself! <b>Slide to the right</b> to see what happens!</p>

      <!-- Canvas -->
      <canvas id="intro" width="1110" height="330" style="background-color:white; margin-bottom:30px";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
      
      <!-- Loader -->
      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
          <div id="loader"></div>
        </div>
      </div>

      <h5>Why Visual Steganography (Visual Cryptography + Steganography)?</h5>
      <p class="lead">As opposed to other forms of cryptography, visual cryptography requires the participation of the user. Decryption of the shares provide information that is only perceived visually, thus deterring automated attacks. It is akin to One Time Pad (OTP) that provides perfect secrecy, this is due to the incomplete information the attacker has to break the cipher. The Steganography technique we used allows us to make the secret less obvious and hence enhance the overall security even further.</p>

      <h5>How does it work?</h5>
      <p class="lead">This awesome technique should be attributed to two of the great Mathematicians: <b>Moni Naor</b> and <b>Adi Shamir</b>. They came out with a technique that requires the share of both parties to exists in order to decrypt the image.</p>
      <table class="table table-borderless">
        <tr width="100%">
          <td><img src="{{ url_for('static', filename='img/learning/left.png') }}" alt="left"></td>
          <td width="30%" class="align-middle">The basis of this technique is that it would overlay two semi-transparent layers on top of each other.</td>
          <td><img src="{{ url_for('static', filename='img/learning/right.png') }}" alt="right"></td>
        </tr>

        <tr width="100%">
          <td colspan="3" style="padding-left:80; padding-right:80px">Overlaying (mathematically equivalent to Binary OR operation) both of the shares creates addition interference to the light passing through it.</td>
        </tr>

        <tr width="100%">
          <td colspan="3"><img src="{{ url_for('static', filename='img/learning/merge.png') }}" alt="merged"></td>
        </tr>

        <tr width="100%">
          <td colspan="3" style="padding-left:80; padding-right:80px">When both of the shares are properly overlayed on top of each other, it will divulge the secret image as shown below.</td>
        </tr>

        <tr width="100%">
          <td colspan="3"><img src="{{ url_for('static', filename='img/learning/result.png') }}" alt="result"></td>
        </tr>
      </table>
      
      <h5>How does Visual Steganography work?</h5>
      <p class="lead">With this technique, we are going to sub-divide each pixel into (2x2) subpixels. When both of the images are overlayed, we can represent the black pixels with 4 black sub-pixels and the white one with 3 black sub-pixels.</p>

      <table class="table table-striped">
        <tr>
          <td colspan="4">Black</td>
          <td colspan="4">White</td>
        </tr>
        <tr>
          <td colspan="4"><img src="{{ url_for('static', filename='img/learning/pattern/pat8.png') }}" alt="black"></td>
          <td colspan="4"><img src="{{ url_for('static', filename='img/learning/pattern/pat9.png') }}" alt="white"></td>
        </tr>

        <tr>
          <td colspan="8">After Expansion</td>
        </tr>
        <tr>
          <td colspan="4"><img src="{{ url_for('static', filename='img/learning/pattern/pat8-opaque.png') }}" alt="4black"></td>
          <td colspan="4"><img src="{{ url_for('static', filename='img/learning/pattern/pat7-opaque.png') }}" alt="3black"></td>
        </tr>

        <tr>
          <td>B1B2</td>
          <td>B1W2</td>
          <td>W1B2</td>
          <td>W1W2</td>
          <td>B1B2</td>
          <td>B1W2</td>
          <td>W1B2</td>
          <td>W1W2</td>
        </tr>
        <tr>
          <!-- Black -->
          <td>
            <canvas id="B1B2_Black" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="B1W2_Black" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="W1B2_Black" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="W1W2_Black" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>

          <!-- White -->
          <td>
            <canvas id="B1B2_White" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="B1W2_White" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="W1B2_White" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
          <td>
            <canvas id="W1W2_White" width="100%" height="330" style="background-color:white;";>Your browser doesn't support the HTML5 Canvas, please consifer updating or changing your browser for a better experience.</canvas>
          </td>
        </tr>

        <tr>
          <td colspan="8">^ THERE WILL BE ANIMATION LIKE THE ONE ON TOP HERE ^</td>
        </tr>
      </table>
    </div>
  </form>
  
</div>

<div class="row">
  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
    <div id="loader"></div>
  </div>
</div> 

<script>

  $(document).ready(function()
  {
    document.getElementById("loader").style.display = "block";
    var bankShareLoaded=false;
    var clientShareLoaded=false;
    var reconShareLoaded=false;

    var bankShare = new Image();
    bankShare.src = "https://raw.githubusercontent.com/erwinleonardy/VSignIt/master/img/public/bank_share.png";

    var clientShare = new Image();
    clientShare.src = "https://raw.githubusercontent.com/erwinleonardy/VSignIt/master/img/public/client_share.png";

    var reconShare = new Image();
    reconShare.src = "https://raw.githubusercontent.com/erwinleonardy/VSignIt/master/img/public/recon_share.png";

    bankShare.onload = function() {
      bankShareLoaded=true;
      tryToDraw();
    }

    clientShare.onload = function() {
      clientShareLoaded=true;
      tryToDraw();
    }

    reconShare.onload = function() {
      reconShareLoaded=true;
      tryToDraw();
    }

    function tryToDraw()
    {
      if (bankShareLoaded && clientShareLoaded && reconShareLoaded)
      { 
        var maxX = intro.width-315;
        var minX = 15;

        document.getElementById("loader").style.display = "none";
        // ctx.drawImage(clientShare, 0, 0, 300, 300);

        // Get a "handle" on the canvas to work with
        theCanvas = document.getElementById("intro");

        // define the centre point of the canvas
        cX = Math.floor(theCanvas.width / 2);
        cY = Math.floor(theCanvas.height / 2);

        // Get a "context"
        ctx= theCanvas.getContext("2d");

        // draw the initial image
        ctx.drawImage(bankShare, 15, 15, 300, 300);
        ctx.drawImage(clientShare, maxX, 15, 300, 300);

        // set up the font
        ctx.font = "12px Helvetica";
        ctx.textAlign = 'center';
        ctx.fillStyle = '#8A8A8A';
        ctx.globalAlpha = 1.0;

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
          var rect = canvasDom.getBoundingClientRect();
          return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
          };
        }

        // Here we get mouse coordinates and translate to a value
        // Good old basic algebra from school
        // Apparently the convention is to start at 0 degrees on the right and go backwards
        // - someone should have told that to clock-makers
        theCanvas.addEventListener("mousemove", function(e) {
          var m = getMousePos(theCanvas, e);
          if (m.x < cX) {
            if (m.y < cY) pos = 180 + Math.floor(Math.atan((m.y - cY) / (cX - m.x)) * (180 / Math.PI));
            else pos = 180 + -Math.floor(Math.atan((m.y - cY) / (m.x - cX)) * (180 / Math.PI));
          } else {
            if (m.y < cY) pos = - Math.floor(Math.atan((cY - m.y) / (cX - m.x)) * (180 / Math.PI)) ;
            else pos = 360 + Math.floor(Math.atan((cY - m.y) / (m.x - cX)) * (180 / Math.PI));
          }

          // print the result
          ctx.clearRect(0, 0, intro.width, intro.height);
        
          // replace image when 
          if (m.x >= maxX)
          {
            m.x = maxX;
            ctx.drawImage(reconShare, maxX, 15, 300, 300);
            return;
          }
          else if (m.x < minX)
            m.x = minX;

          ctx.drawImage(bankShare, 0+m.x, 15, 300, 300);
          ctx.drawImage(clientShare, maxX, 15, 300, 300);
        }, false);
      }
    }
  });

</script>

{% include "footer.html" %}