{% include "header.html" %}

<!-- Nav Bar -->
{%  with page_type="Unauthorised", active_page="login" %}
  {% include "navbar.html" %}
{% endwith %}

<!-- Content -->
<div class="jumbotron">
  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Login</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead">We ensure that our signing application is secure at all times!</p>
        <hr class="my-4">
      </div>
    </div>
  </div>
  
  <!-- Form -->
  <form name="loginForm" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
              <input type="text" id="username" class="form-control" placeholder="Enter your username here" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
              <input type="password" id="password" class="form-control" placeholder="Enter your password here" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="loader"></div>
          </div>
      </div> 

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
          <div id="response-msg" class="alert alert-danger" role="alert" style="width:100%; text-align: center"></div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 mb-3">
            <button class="btn btn-primary btn-lg active" type="submit" aria-pressed="true" style="width:100%">Login</button>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Need an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
        </div>
      </div>        
    </div>
  </form>
</div>

<script>
  $("#response-msg").hide();

  // execute this when the form is submitted
  $(loginForm).submit(function(e) 
  {
      e.preventDefault(); // avoid to execute the actual submit of the form.

      $('#response-msg').hide();
      document.getElementById("loader").style.display = "block";

      checkCredentials()
  });

  // function to check the username and password
  function checkCredentials()
  {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    // checks if both of the fields are filled
    if (username.length > 0 && password.length > 0) 
    {
      // send to server via AJAX
      var fd = new FormData();
      fd.append('username',username)
      fd.append('password',password)
      $.ajax({
        type: 'post',
        url: '/login',
        data: fd,
        mimeType:"multipart/form-data",
        contentType: false,
        cache: false,
        processData: false,
        success: function(response){
          if(response != 0)
          {
            document.getElementById("loader").style.display = "none";
            $('#username').removeClass('is-invalid');
            $('#password').removeClass('is-invalid');
            $('#response-msg').removeClass('alert-danger');
            $('#response-msg').addClass('alert-success');
            $('#username').addClass('is-valid');
            $('#password').addClass('is-valid');
            $("#response-msg").text("Login successful!");
            $('#response-msg').toggle();
            window.location.href = response
          }

          else 
          { 
            document.getElementById("loader").style.display = "none";
            $('#username').addClass('is-invalid');
            $('#password').addClass('is-invalid');
            $('#response-msg').addClass('alert-danger');
            $("#response-msg").text("Please ensure that you have entered the correct username and password!");
            $('#response-msg').toggle();
          }
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {}
      });
    }
  }
</script>

{% include "footer.html" %}