{% include "header.html" %}

<!-- Nav Bar -->
{%  with page_type="Unauthorised", active_page="reconstruct" %}
  {% include "navbar.html" %}
{% endwith %}

<!-- Content -->
<div class="jumbotron">
  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Sign Up</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead">Your journey to the perfectly secure signing application begins here!</p>
        <hr class="my-4">
      </div>
    </div>
  </div>
  
  <!-- Form -->
  <form name="loginForm" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <input type="text" id="email_input" class="form-control" placeholder="Enter your email here" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <input type="text" id="username" class="form-control" placeholder="Enter your username here" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <input type="password" id="password" class="form-control" placeholder="Enter your password here" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 input-group mb-2">
            <input type="password" id="verification" class="form-control" placeholder="Re-enter your password here" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
            <div id="loader"></div>
          </div>
      </div> 

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
          <div id="response-msg" class="alert alert-danger" role="alert" style="width:100%; text-align: center"></div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6 mb-3">
            <button class="btn btn-primary btn-lg active" type="submit" aria-pressed="true" style="width:100%">Sign Up</button>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
        </div>
      </div>   
      
    </div>
  </form>
</div>

<script>
  $("#response-msg").hide();

  // execute this when the form is submitted
  $(loginForm).submit(function(e) 
  {
      e.preventDefault(); // avoid to execute the actual submit of the form.

      $('#response-msg').hide();
      document.getElementById("loader").style.display = "block";

      if (validate())
        checkCredentials()
  });

  // regex to check email
  function validateEmail(email) 
  {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }

  // show the response message based on user's input
  function validate() 
  {
    var email = $(email_input).val()

    if (validateEmail(email)) {
      $('#email_input').removeClass('is-invalid');
      $('#email_input').addClass('is-valid');
      $('#response-msg').hide();
      return true;
    } 

    else
    {
      document.getElementById("loader").style.display = "none";
      $("#response-msg").text("Please ensure that you have entered the correct email!");
      $('#email_input').addClass('is-invalid');
      $('#response-msg').toggle();
      return false;
    }
  }

  // function to check the username and password
  function checkCredentials()
  {
    var username = document.getElementById("username").value;
    var email = document.getElementById("email_input").value;
    var password = document.getElementById("password").value;
    var verification = document.getElementById("verification").value;

    // checks if both of the fields are filled
    if (username.length > 0 && password.length > 0 && verification.length > 0 && email.length > 0) 
    {
      // send to server via AJAX
      var fd = new FormData();
      fd.append('username',username)
      fd.append('email', email)
      fd.append('password',password)
      fd.append('verification',verification)
      $.ajax({
        type: 'post',
        url: '/register',
        data: fd,
        mimeType:"multipart/form-data",
        contentType: false,
        cache: false,
        processData: false,
        success: function(response){
          if(response != 0)
          {
            document.getElementById("loader").style.display = "none";

            // if the input is corect
            if (response == "/login")
            {
              $('#username').removeClass('is-invalid');
              $('#password').removeClass('is-invalid');
              $('#verification').removeClass('is-invalid');
              $('#response-msg').removeClass('alert-danger');

              $('#response-msg').addClass('alert-success');
              $('#username').addClass('is-valid');
              $('#password').addClass('is-valid');
              $('#verification').addClass('is-valid');

              setTimeout(function(){
                alert("Account \'" + username + "\' has been created.");
                window.location.href = response;
              }, 100);


              // shows a new modal box
              // $(function() {
              //   $("#dialog").text();
              //   $("#dialog").dialog({title: "New User Creation",
              //                       show: "toggle", 
              //                       modal: true,
              //                       buttons: {
              //                           "OK": function () {
              //                               window.location.href = response
              //                               $(this).dialog("close");
              //                           },
              //                       }});
              // });
            }

            // if there is an error
            else
            {
                // when both of the passwords don't match
                if (response == "Both of the password doesn't match!")
                {
                  $('#username').removeClass('is-invalid');
                  $('#password').removeClass('is-valid');
                  $('#verification').removeClass('is-valid');

                  $('#password').addClass('is-invalid');
                  $('#verification').addClass('is-invalid');
                }

                // other errors
                else
                {
                  $('#username').removeClass('is-valid');
                  $('#password').removeClass('is-invalid');
                  $('#verification').removeClass('is-invalid');

                  $('#username').addClass('is-invalid');
                }

                $('#response-msg').addClass('alert-danger');
                $("#response-msg").text(response);
                $('#response-msg').toggle();
            }
          }

          else {}
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {}
      });
    }
  }
</script>

{% include "footer.html" %}