{% include "header.html" %}

{% if result == None %}

  {% include "error.html" %}

{% elif result.isAdmin() and result.getUsername() == transaction.getBankUsername() %}

  <!-- Nav Bar -->
  {%  with user_type="Bank", username=result.getUsername(), active_page="reconstruct" %}
    {% include "navbar.html" %}
  {% endwith %}
  
  <!-- Content -->
  <div class="jumbotron">
    <!-- Header -->
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="display-4">Admin Page (Share Reconstruction)</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Use this panel to verify the cheques using our vSignIt Reconstruction Algorithm!</p>
          <hr class="my-4">
        </div>
      </div>
    </div>

    <!-- Form -->
    <form id="verify" method="post" enctype="multipart/form-data" onsubmit="return false;">
      <div class="container">
        <div class="row table-responsive">

          <!-- Table -->
          <table align="center" cellspacing="0" cellpadding="0" style="overflow-x: auto; width:100%; max-width:650px">
            <tbody>

              <!-- Header -->
              <tr align="center" >
                <td colspan="2" style="display:inline-block; text-align: center">
                  <p class="lead">Transaction No: {{ transaction.getTranscationNo() }}</p>
                  <input type="button" id="morePics" class="btn-lg btn-primary" style="margin-bottom: 15px" value="Show me the process"/>
                </td>
              </tr>

              <!-- Reconstructed signature and Cleaned Signature -->
              <tr align="center" id="add_pictures">
                <td style="display:inline-block; text-align: center; margin:5px">
                  <p class="lead">Reconstructed Share</p>
                  <div id="pic1" style="padding-bottom: 10px; width:200px; height:200px; margin:0px auto">
                    <img id="recon_preview" width="100%" height="100%"/>
                    <p class="font-weight-normal textBox"></p>
                  </div>
                </td>

                <td style="display:inline-block; text-align: center; margin:5px">
                  <p class="lead">Cleaning Phase I</p>
                  <div id="pic2" style="padding-bottom: 10px; width:200px; height:200px; margin:0px auto">
                    <img id="clean1_preview" width="100%" height="100%"/>
                    <p class="font-weight-normal textBox"></p>
                  </div>
                </td>
              </tr>

              <tr align="center" id="add_desc">
                <td colspan="2" style="display:inline-block; text-align: center; margin:5px; padding-top:5px;">
                  <p class="lead"> Cleaning Phase II + Cheque </p>
                </td>
              </tr>

              <!-- Reconstructed Cheque -->
              <tr style="text-align: center">
                <td colspan="2" style="text-align: center">
                  <!-- <a id="downloadLink" target="_blank" value="final_share" download> -->
                    <div id="cheque_img_box" style="padding-bottom: 10px; width:400px; height:270px; margin:0px auto; text-align: center; display:inline-block;">
                      <img id="cheque_preview" width="100%" height="100%"/>
                      <p class="font-weight-normal textBox">Click to enlarge</p>
                    </div>
                  <!-- </a> -->
                </td>
              </tr>
  
              <!-- Submit Buttons -->
              <tr align="center" style="margin:0px auto">
                <td colspan="2" style="padding-bottom:20px; text-align: center; display:inline-block;">
                  <button type="submit" class="btn-lg btn-primary" style="margin-right:20px" name="accept-{{ transaction.getTranscationNo() }}">Accept</button>
                  <button type="submit" class="btn-lg btn-danger" name="reject-{{ transaction.getTranscationNo() }}">Reject</button>
                </td>
              </tr>

              <!-- Back Buttons -->
              <tr align="center">
                <td colspan="2" style="text-align: center; display:inline-block;">
                  <p class="lead">
                    Oops! Clicked here by accident. Fret not! Click <a id="back" href="https://www.a.com">here</a> to go back!</p>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>

        <!-- Loader -->
        <div class="row">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
              <div id="loader"></div>
            </div>
        </div>

        <!-- Popup Image Box -->
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="popUpImg">
          <div id="caption"></div>
        </div>
      </div>
    </form>
    
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-6">
      <div id="loader"></div>
    </div>
  </div> 
</body>

<script>
  // prevents user from hitting the back button
  // (only works in safari)
  // chrome doesn't need this feature anyway!
  window.location.hash="no-back-button";
  window.location.hash="Again-no-back-button";
  window.onhashchange=function(){window.location.hash="no-back-button";}

  // reads the transaction number from the hidden input value
  $("form input[type=submit]").click(function() {
    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
    $(this).attr("clicked", "true");
  });

  // goes back to the previous page when the link is clicked
  var OnOneClick = function(e) { 
    e.preventDefault(); 
    window.location.href = "/bank-reconstruct"
    return false; 
  };

  // closes modal box when it is clicked
  $(document).click(function(event) {
    if (!$(event.target).closest("#cheque_preview,.popUpClass,.close").length && $(".popUpClass,.close").is(":visible")) {
      $('#myModal').hide();
    }
  });

  // loads the script when window is fully loaded
  window.onload = function()
  {
    $("#add_pictures").hide();
    $("#add_desc").hide();

    // extracts encoded pics
    recon_cheque = "data:image/png;base64,{{ recon_cheque }}";
    clean1 = "data:image/png;base64,{{ clean1 }}";
    recon = "data:image/png;base64,{{ recon }}";

    // loads the pictures
    var image = document.getElementById("recon_preview");
    image.src = recon;
    image.alt = "Recon #{{ transaction.getTranscationNo() }}";

    image = document.getElementById("clean1_preview");
    image.src = clean1;
    image.alt = "Clean 1 #{{ transaction.getTranscationNo() }}";
    
    image = document.getElementById("cheque_preview");
    image.src = recon_cheque;
    image.alt = "Transcation #{{ transaction.getTranscationNo() }}";

    // adds back button listener (only work in safari)
    var OneClick = document.getElementById("back");
    OneClick.addEventListener('click', OnOneClick, false);

    /*
     * Modal Box -> Popup Box
     */
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('cheque_preview');
    var modalImg = document.getElementById("popUpImg");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      modalImg.name = "popUpClass"
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the 
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }

    // or close when esc key is pressed
    $(document).keydown(function(event) { 
      if (event.keyCode == 27) { 
        $('#myModal').hide();
      }
    });

    $("#morePics").click(function() {
      $("#add_pictures").fadeToggle(700, "linear");
      $("#add_desc").fadeToggle(700, "linear");
    });
  }

  // reads the transaction number from the hidden input value
  $("button").click(function() {
    var val = this.name.split("-")
    var type = val[0];
    var transactionNo = val[1];

    // only process it if it is of type "Delete" or "Verify"
    if (type == "accept" || type == "reject")
    {
      // if delete is clicked, give confirmation prompt
      var res = confirm("Are you sure that you want to " + type + " cheque number \'" + transactionNo + "\'?\n\nCAUTION: This action cannot be undone!");

      // cancel if user changes his mind
      if (res == false) {
        return;
      } 

      // changes to loading button
      $(this)[0].innerHTML = "<span></span> Loading..."
      $(this)[0].id = "LoadingBox"
      button = $(this).find("span")[0]; 
      button.role = "status";      
      button.className = "spinner-border spinner-border-sm LoadingText"

      // continues processing the transaction
      processTransaction(transactionNo, type);
    }
  });

  // execute this when the form is submitted
  $(verify).submit(function(e) 
  {
    e.preventDefault(); // avoid to execute the actual submit of the form.
  });

  function processTransaction (transactionNo, response)
  {
    console.log("Processing!!!");
    var fd = new FormData();
    fd.append('response', response)
    fd.append('transactionNo', transactionNo)
    $.ajax({
      type: 'post',
      url: '/bank-reconstruct/verify',
      data: fd,
      mimeType:"multipart/form-data",
      contentType: false,
      cache: false,
      processData: false,
      success: function(response){
        // redirects to previous page
        window.location.href = response
      },

      error: function(jqXHR, textStatus, errorThrown) 
      {
        alert(errorThrown)
      }
    });
  }
</script>

{% else %}
  {% include "forbidden.html" %}
{% endif %}

{% include "footer.html" %}